/wp-admin/
/wp-content/backups-dup-lite/
/wp-content/languages/
/wp-content/logs/
/wp-content/plugins/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentytwenty/
/wp-content/themes/index.php
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/index.php
/wp-includes/
/.gitignore
/.htaccess
/index.php
/key
/key.pub
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
